@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    height: 100%;
    width: 100%;
  }
}

body {
  background: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #f7db3d, transparent);
  height: "100%";
}

.MuiPagination-ul {
  justify-content: center;
}
